
*{
margin: 0;
padding: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#logo,#logo1,#logo2,#logo3{
    color: chartreuse;
}
#logo img{
    border-radius: 11px;
   
}
#logo:hover,#logo1:hover,#logo2:hover,#logo3:hover{
    color: rgb(245, 11, 194);
    border-radius: 7px;
    font-size:25px ;
}

#donate{
    border-radius: 7px;
}
#donate:hover{
background-color: rgba(255, 0, 0, 0.884);
}
.dropdown-item:hover{
    background-color: rgba(65, 105, 225, 0.884);
    font-weight: bold;
    font-size: 20px;
}
.nav-list{

    width: 50%;
    display: flex;
    align-items: center;
}
center p{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homepicture{
text-decoration: none;
border-width: solid 6px red;
border-bottom: solid 3px;
margin-bottom: 7px;
height: -122px;
width: auto;
}
#navbarDropdown{
right: 0;
float: inline-end;
text-align: end;
}
.btn-sm{
    position: relative;
    border-radius: 7px solid rgb(241, 117, 117);
    font-size: 15px;
    padding: 6px ;
 margin: 4px;
    margin-top: 15px;

}
#form{
    font-size: 16px;
    border-radius: 6px;
}

.card-body{
    border-radius: 4px;
    border-width: 4px;
    background-color:rgba(0, 238, 255, 0.795);
}
#mainoption{
    text-align: center;
    padding: 10px;
    margin-top: 45px;
    margin-bottom: 60px;
}

#OURSERVICES{
    color:white;
    margin-bottom: 2px;
}
body{
    background-image: url("bg12.jpg");
    z-index: -2;
    opacity: inherit;
    background-attachment: fixed;

}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    #heading p{
        font-size: 28px;
        font-weight: bold;
        color: rgba(0, 255, 64, 0.795);
        border-width:4px ;
    }
    .btn-group,#appointment{
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 7px;
        }
        .navbar{

            align-items: center;
            justify-content: center;
            top: 0;
            cursor: pointer;
            font-size: 20px;
            display: flex;
            position: relative;
            max-height: auto;
            }

}

/*Small devices(landscape phones, 576px and up)*/
@media (min-width: 400px) and (max-width: 767.98px) {
    #heading p{
        font-size: 40px;
        font-weight: bold;
        color: rgba(0, 255, 64, 0.795);
        border-width:4px ; }
        .btn-group{
            position: relative;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 20px;
            padding: 5px;
            border-radius: 7px;
            }

            #appointment{position: relative;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 20px;
            margin-top: 5px;
            padding: 5px;
            border-radius: 7px;}
            .navbar{

                align-items: center;
                justify-content: center;
                top: 0;
                cursor: pointer;
                font-size: 20px;
                display: flex;
                position: relative;
                max-height: auto;
                }
    }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #heading p{
        font-size: 45px;
        font-weight: bold;
        color: rgba(0, 255, 64, 0.795);
        border-width:4px ;}
        .btn-group,#appointment{
            position: relative;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 20px;
            padding: 5pxpx;
            border-radius: 7px;
            }
           
            .navbar{

                align-items: center;
                justify-content: center;
                top: 0;
                cursor: pointer;
                font-size: 20px;
                display: flex;
                position: relative;
                max-height: auto;
                }
    }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #heading p{
        font-size: 50px;
        font-weight: bold;
        color: rgba(0, 255, 64, 0.795);
        border-width:4px ;}
        .btn-group,#appointment{
            position: relative;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 20px;
            padding: 5px;
            border-radius: 7px;
            }
            .navbar{

                align-items: center;
                justify-content: center;
                top: 0;
                cursor: pointer;
                font-size: 20px;
                display: flex;
                position: relative;
                max-height: 65px;
                }
    }
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    #heading p{
        font-size: 54px;
        font-weight: bold;
        color: rgba(0, 255, 64, 0.795);
        border-width:4px ;}
        .btn-group,#appointment{
            position: relative;
            margin-left: 10px;
        margin-right: 10px;
            padding: 5px;
            border-radius: 7px;
            }
            .navbar{

                align-items: center;
                justify-content: center;
                top: 0;
                cursor: pointer;
                font-size: 20px;
                display: flex;
                position: relative;
                max-height: 65px;
                } 
}
